@import url('/blocks/rotation/rotation.css');

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  transform: rotate(345deg);
  animation: rotate 20s linear 0s infinite;
}

