@import url('../blocks/header/header.css');

/* Header block */


/* here we have two examples of selectors in order to remind you how to set styles for elements */


/* including elements with key-value modifiers */

/* Description block */

.description {
  margin-top: 100px;
}

/* Called "two-columns__brief" in project instructions*/
.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 100px;
}

/* Called "two-columns__brief" in project instructions*/
.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  max-width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph {
  margin: 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-weight: bold;
}

/* Digits block */

.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.section-title {
  max-width: 60%;
  margin: 0 auto 0;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  max-width: 60%;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  list-style: none;
  padding: 0;
  margin: 60px 0 0 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

/* Feynman block */

.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feynman__title {
  max-width: 775px;
  margin: 100px auto 0;
  position: relative;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
 margin: 70px auto 0;
 position: relative;
 text-align: center;
 line-height: 51px;
 font-size: 36px;
 font-weight: normal;
 z-index: 1;
}

.feynman__link {
  position: absolute;
  text-decoration: none;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Kaufman block */

.kaufman {
  padding: 90px 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #ffffff;
  position: inherit;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

.table_theme_dark {
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  color: #ffffff;
  margin-right: 0;
  margin-top: 80px;
}

.table__cell_theme_dark:last-of-type {
  padding-bottom: 90px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  top: 0;
  right: -124px;
}

/* Footer block */

.footer {
  min-height: 350px;
  margin: 0;
  background-color: #1f1f1f;
  color: #ffffff;
  display: flex;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_column {
  margin: 0;
  display: flex;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  margin: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  color: #ffffff;
  text-decoration: none;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__list {
  margin: 20px 0 auto 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 0;
  list-style: none;
}

.footer__column-link {
  color: #ffffff;
  text-decoration: none;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
